EXP. NO : 07-HEART DISEASE PREDICTION

ROLL. NO: 19CS046

**IMPORTING LIBRARIES**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
import sklearn

**IMPORTING DATASET**

In [2]:
data=pd.read_csv("heart.csv")

In [10]:
data.tail(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

**DEPENDANT AND INDEPENDANT VARIABLE DECLARATION**

In [4]:
Y = data['target']
X = data.drop('target',axis=1)

**CREATING TRAINING AND TESTING SET**

In [5]:
X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(X, Y, test_size = 0.33, random_state = 5)

**CREATING REGRESSION MODEL**

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
lm = LogisticRegression()

lm.fit(X_train, Y_train)

Y_train_pred = lm.predict(X_train)

Y_test_pred = lm.predict(X_test)

**FINDING ACCURACY**

In [8]:
mse = mean_squared_error(Y_test, Y_test_pred)
mae = mean_absolute_error(Y_test,Y_test_pred)
print(mse," ",mae)

0.16224188790560473   0.16224188790560473

In [12]:
l=list(map(float,input().split()))
li=np.array(l).reshape(1,-1)
print(lm.predict(li))

50 	0 	0 	110 	254 	0 	0 	150 	1 	0.5 	2.7 	1 	3
[0]