In \[1\]:

    import pandas as pd
    import numpy as np
    from sklearn.model_selection import train_test_split
    from sklearn.linear_model import LinearRegression

In \[3\]:

    data=pd.read_csv("D:/ML/DATASETS/HousePrices.csv")
    data.head()

Out\[3\]:

|     | Area | Garage | FirePlace | Baths | White Marble | Black Marble | Indian Marble | Floors | City | Solar | Electric | Fiber | Glass Doors | Swiming Pool | Garden | Prices |
|-----|------|--------|-----------|-------|--------------|--------------|---------------|--------|------|-------|----------|-------|-------------|--------------|--------|--------|
| 0   | 164  | 2      | 0         | 2     | 0            | 1            | 0             | 0      | 3    | 1     | 1        | 1     | 1           | 0            | 0      | 43800  |
| 1   | 84   | 2      | 0         | 4     | 0            | 0            | 1             | 1      | 2    | 0     | 0        | 0     | 1           | 1            | 1      | 37550  |
| 2   | 190  | 2      | 4         | 4     | 1            | 0            | 0             | 0      | 2    | 0     | 0        | 1     | 0           | 0            | 0      | 49500  |
| 3   | 75   | 2      | 4         | 4     | 0            | 0            | 1             | 1      | 1    | 1     | 1        | 1     | 1           | 1            | 1      | 50075  |
| 4   | 148  | 1      | 4         | 2     | 1            | 0            | 0             | 1      | 2    | 1     | 0        | 0     | 1           | 1            | 1      | 52400  |

In \[7\]:

    data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 500000 entries, 0 to 499999
    Data columns (total 16 columns):
     #   Column         Non-Null Count   Dtype
    ---  ------         --------------   -----
     0   Area           500000 non-null  int64
     1   Garage         500000 non-null  int64
     2   FirePlace      500000 non-null  int64
     3   Baths          500000 non-null  int64
     4   White Marble   500000 non-null  int64
     5   Black Marble   500000 non-null  int64
     6   Indian Marble  500000 non-null  int64
     7   Floors         500000 non-null  int64
     8   City           500000 non-null  int64
     9   Solar          500000 non-null  int64
     10  Electric       500000 non-null  int64
     11  Fiber          500000 non-null  int64
     12  Glass Doors    500000 non-null  int64
     13  Swiming Pool   500000 non-null  int64
     14  Garden         500000 non-null  int64
     15  Prices         500000 non-null  int64
    dtypes: int64(16)
    memory usage: 61.0 MB

In \[6\]:

    data.describe()

Out\[6\]:

|       | Area          | Garage        | FirePlace     | Baths         | White Marble  | Black Marble  | Indian Marble | Floors        | City          | Solar         | Electric     | Fiber         | Glass Doors  | Swiming Pool  | Garden        | Prices        |
|-------|---------------|---------------|---------------|---------------|---------------|---------------|---------------|---------------|---------------|---------------|--------------|---------------|--------------|---------------|---------------|---------------|
| count | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.000000 | 500000.00000 | 500000.000000 | 500000.00000 | 500000.000000 | 500000.000000 | 500000.000000 |
| mean  | 124.929554    | 2.001290      | 2.003398      | 2.998074      | 0.332992      | 0.332690      | 0.334318      | 0.499386      | 2.000940      | 0.498694      | 0.50065      | 0.500468      | 0.49987      | 0.500436      | 0.501646      | 42050.139350  |
| std   | 71.795363     | 0.817005      | 1.414021      | 1.414227      | 0.471284      | 0.471177      | 0.471752      | 0.500000      | 0.816209      | 0.499999      | 0.50000      | 0.500000      | 0.50000      | 0.500000      | 0.499998      | 12110.237201  |
| min   | 1.000000      | 1.000000      | 0.000000      | 1.000000      | 0.000000      | 0.000000      | 0.000000      | 0.000000      | 1.000000      | 0.000000      | 0.00000      | 0.000000      | 0.00000      | 0.000000      | 0.000000      | 7725.000000   |
| 25%   | 63.000000     | 1.000000      | 1.000000      | 2.000000      | 0.000000      | 0.000000      | 0.000000      | 0.000000      | 1.000000      | 0.000000      | 0.00000      | 0.000000      | 0.00000      | 0.000000      | 0.000000      | 33500.000000  |
| 50%   | 125.000000    | 2.000000      | 2.000000      | 3.000000      | 0.000000      | 0.000000      | 0.000000      | 0.000000      | 2.000000      | 0.000000      | 1.00000      | 1.000000      | 0.00000      | 1.000000      | 1.000000      | 41850.000000  |
| 75%   | 187.000000    | 3.000000      | 3.000000      | 4.000000      | 1.000000      | 1.000000      | 1.000000      | 1.000000      | 3.000000      | 1.000000      | 1.00000      | 1.000000      | 1.00000      | 1.000000      | 1.000000      | 50750.000000  |
| max   | 249.000000    | 3.000000      | 4.000000      | 5.000000      | 1.000000      | 1.000000      | 1.000000      | 1.000000      | 3.000000      | 1.000000      | 1.00000      | 1.000000      | 1.00000      | 1.000000      | 1.000000      | 77975.000000  |

In \[8\]:

    data.isnull().sum()

Out\[8\]:

    Area             0
    Garage           0
    FirePlace        0
    Baths            0
    White Marble     0
    Black Marble     0
    Indian Marble    0
    Floors           0
    City             0
    Solar            0
    Electric         0
    Fiber            0
    Glass Doors      0
    Swiming Pool     0
    Garden           0
    Prices           0
    dtype: int64

In \[73\]:

    x=data.iloc[:,[int(i) for i in range(15)]].values
    x

Out\[73\]:

    array([[164,   2,   0, ...,   1,   0,   0],
           [ 84,   2,   0, ...,   1,   1,   1],
           [190,   2,   4, ...,   0,   0,   0],
           ...,
           [174,   3,   3, ...,   0,   1,   0],
           [121,   1,   4, ...,   1,   0,   0],
           [ 46,   2,   4, ...,   0,   0,   0]], dtype=int64)

In \[74\]:

    y=data.iloc[:,[-1]].values
    y

Out\[74\]:

    array([[43800],
           [37550],
           [49500],
           ...,
           [51350],
           [62725],
           [32150]], dtype=int64)

In \[ \]:

     

In \[75\]:

    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In \[76\]:

    x_train.shape

Out\[76\]:

    (400000, 15)

In \[77\]:

    y_train.shape

Out\[77\]:

    (400000, 1)

In \[78\]:

    x_test.shape

Out\[78\]:

    (100000, 15)

In \[79\]:

    y_test.shape

Out\[79\]:

    (100000, 1)

In \[80\]:

    linear_model=LinearRegression()
    linear_model.fit(x_train,y_train)

Out\[80\]:

    LinearRegression()

In \[81\]:

    pre=linear_model.predict(x_test)

In \[82\]:

    pre

Out\[82\]:

    array([[38200.],
           [16800.],
           [54325.],
           ...,
           [51250.],
           [37225.],
           [19775.]])

In \[83\]:

    y_test

Out\[83\]:

    array([[38200],
           [16800],
           [54325],
           ...,
           [51250],
           [37225],
           [19775]], dtype=int64)

In \[85\]:

    from sklearn.metrics import mean_absolute_error as err

In \[86\]:

    mar=err(y_test,pre)

In \[87\]:

    mar

Out\[87\]:

    4.8278279791702515e-11

In \[ \]: